<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/adminNavbar.css">
    <link rel="stylesheet" href="/AdminDashboard.css">
</head>
<body>
    <div class="dashboard">
        <%- include('../partials/adminDashboard.ejs') %>
    </div>
    <main>
        <%- include('../partials/adminNavbar.ejs') %>

        <div class="content">
            <div class="allData">
                <div class="adbox">
                    <img src="/icons/classmates.png" alt="classmates.png">
                    <div class="for">
                        <span>Students</span>
                        <p><%= studentCount %></p>
                    </div>
                </div>
                <div class="adbox">
                    <img src="/icons/teachers.png" alt="classmates.png">
                    <div class="for">
                        <span>Teacher</span>
                        <p><%= teacherCount %></p>
                    </div>
                </div>
                <div class="adbox">
                    <img src="/icons/couple.png" alt="classmates.png">
                    <div class="for">
                        <span>Parents</span>
                        <p><%= parents %></p>
                    </div>
                </div>
            </div>

            <div class="notice">
                <p>Notice Board</p>
            </div>

        </div>
    </main>
    <!-- <div class="totalStudents">
        <h1>Students</h1>
        <p><%= studentCount %></p>
    </div>
    <div class="totalTeachers">
        <h1>Teachers</h1>
        <p><%= teacherCount %></p>
    </div>
    <div class="parents">
        <h1>Parents</h1>
        <p><%= parents %></p>
    </div>
    <div class="maleStudetns">
        <h1>MaleStudents</h1>
        <p><%= maleStudents %></p>
    </div>
    <div class="femaleStudents">
        <h1>FemaleStudents</h1>
        <p><%= femaleStudents %></p>
    </div> -->

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>