<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Manage Students</title>
    <link rel="stylesheet" href="/adminNavbar.css">
    <link rel="stylesheet" href="/ManageStudents.css">
</head>
<body>
    <div class="dashboard">
        <%- include('../partials/adminDashboard.ejs') %>
    </div>
    <main>
        <%- include('../partials/adminNavbar.ejs') %>
        <div class="links">
            <a href="/admin/ManageStudents/allStudents">All Students</a>
            <a href="/admin/ManageStudents/btechCSE">B.tech CSE</a>
            <a href="/admin/ManageStudents/btechCSE6">B.tech CSE 6th</a>
        </div>
        <div class="data">
            <% if(studentData.length != 0) { %>
                <table>
                    <thead>
                        <tr>
                            <th>Roll No.</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Course</th>
                            <th>Branch</th>
                            <th>Sem</th>
                            <th>Parents</th>
                            <th>Date of Birth</th>
                            <th>Mobile No.</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% studentData.forEach((student,index) => { %>
                            <tr>
                                <% if(index%2 == 0){ %>
                                    <td class="rollno" style="background:#f1f1f1;"><%= student.roll_no %></td>
                                <% }else{ %>
                                    <td class="rollno" style="background:#ddd;"><%= student.roll_no %></td>
                                <% } %>

                                <td><%= student.first_name %> <%= student.last_name %></td>
                                <td><%= student.gender %></td>
                                <td><%= student.course %></td>
                                <td><%= student.branch %></td>
                                <td><%= student.sem %></td>
                                <% if(student.father_name){ %>
                                    <td><%= student.father_name %></td>
                                <% }else{ %>
                                    <td><%= student.mother_name %></td>
                                <% } %>
                                <td><%= student.dob %></td>
                                <td><%= student.m_no %></td>
                                <td><%= student.email %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% }else{ %>
                <p>No data to display.</p>
            <% } %>
            
        </div>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>