<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Manage Teachers</title>
    <link rel="stylesheet" href="/AdminDashboard.css">
    <link rel="stylesheet" href="/adminNavbar.css">
    <link rel="stylesheet" href="/manageTeachers.css">
</head>
<body>
    <div class="dashboard">
        <%- include('../partials/adminDashboard.ejs') %>
    </div>
    <main>
        <%- include('../partials/adminNavbar.ejs') %>
        <div class="t-box">
            <div class="teacher-data">
                <h1 class="m-title">Teachers Data</h1>
                <% if(teacherData.length != 0) { %>
                    <table>
                        <thead>
                            <tr>
                                <th>Teacher ID</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Date of Joining</th>
                                <th>Mobile no.</th>
                                <th>Date of Birth</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% teacherData.forEach((teacher,index) => { %>
                                <tr>
                                    <% if(index%2 == 0){ %>
                                        <td class="rollno" style="background:#f1f1f1;"><%= teacher.t_id%></td>
                                    <% }else{ %>
                                        <td class="rollno" style="background:#ddd;"><%= teacher.t_id %></td>
                                    <% } %>
    
                                    <td><%= teacher.first_name %> <%= teacher.last_name %></td>
                                    <td><%= teacher.gender %></td>
                                    <td><%= teacher.do_joining %></td>
                                    <td><%= teacher.m_no %></td>
                                    <td><%= teacher.dob %></td>
                                    <td><%= teacher.email %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                <% }else{ %>
                    <p>No data to display.</p>
                <% } %>
                
            </div>
        </div>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>