<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/StudentDashboard.css">
    <link rel="stylesheet" href="/NoticeBoard.css">

    <link rel="stylesheet" href="/adminNavbar.css">
</head>
<body>
    <div class="dashboard">
        <%- include('../partials/studentDashboard.ejs') %>
    </div>
    <main>
        <%- include('../partials/studentNavbar.ejs') %><div class="notice-board">
            <div class="n-nav">
                <p class="nb">Notice Board</p>
                
            </div>
            <div class="notice" style="min-height: 700px; max-height: 700px;">
                <% if(notices.length != 0) { %>
                    <% notices.forEach((notice,index) => { %>
                        <!--  d.getHours() + ":" + d.getMinutes() + ", " + d.toDateString(); -->
                        <div class="n-content">
                            <% if(index % 2 == 0){ %>
                                <p class="n-date" style="background-color: #f939a1;"><%= notice.updatedAt.toDateString() %></p>
                            <% } else{ %>
                                <p class="n-date" style="background-color: #1884ff;"><%= notice.updatedAt.toDateString() %></p>
                            <% } %>
                            <h3 class="n-title"><%= notice.title %></h3>
                            <p class="n-body"><%= notice.body %></p>
                            <div class="del-notice">
                                <p class="n-author"><%= notice.author %></p>
                            </div>
                        </div>
                    <% }) %>
                <% } else{ %>
                    <p class="no-notice">No notice to Display.</p>
                <% } %>
            </div>
        </div>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>