<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="/adminNavbar.css">
    <link rel="stylesheet" href="/TeacherDashboard.css">
    <link rel="stylesheet" href="/assignments.css">
</head>
<body>

    <div class="dashboard">
        <%- include('../partials/teacherDashboard.ejs') %>
    </div>

    <main>
        <%- include('../partials/teacherNavbar.ejs') %>
        
        <div class="content">
            <div class="chart">
                <div class="maleCount" style="display:none"><%= maleStudents %></div>
                <div class="femaleCount" style="display:none"><%= femaleStudents %></div>
                <canvas id="mychart"></canvas>
            </div>
            <div class="allData">
                <div class="adbox">
                    <img src="/icons/classmates.png" alt="classmates.png">
                    <div class="for">
                        <span>Students</span>
                        <p><%= studentCount %></p>
                    </div>
                </div>
                <div class="adbox">
                    <img src="/icons/teachers.png" alt="classmates.png">
                    <div class="for">
                        <span>Teachers</span>
                        <p><%= teacherCount %></p>
                    </div>
                </div>
                <div class="adbox">
                    <img src="/icons/couple.png" alt="classmates.png">
                    <div class="for">
                        <span>Parents</span>
                        <p><%= parents %></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="assignments">
            <h1>Assignments Uploaded by you</h1>
            <% if(assignments.length!=0){ %>
                <% assignments.forEach((assignment,index)=>{ %>
                    <div class="assignment">
                        <h3><%= assignment.title %></h3>
                        <div class="ass-content">
                            <a href="/viewAssignment/<%= assignment._id %>" target="_blank">
                                <img src="data:assignment/<%=assignment.img.contentType %>;base64, <%=assignment.img.data.toString('base64')%>" class="card-img-top" alt="Image Not Found">
                            </a>
                            
                            <a class="delete" href="/teacher/deleteAssignment/<%= assignment._id %>">Delete Assignment</a>
                        </div>
                    </div>
                <% }) %>
            <% }else{ %>
                <p>No Assignment uploaded by you</p>
            <% } %>
                
        </div>
    </main>

    

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        let ctx = document.getElementById('mychart');
        let maleCount = document.querySelector('.maleCount').innerHTML;
        let femaleCount = document.querySelector('.femaleCount').innerHTML;
        const data = {
            labels: [
                `Male Students`,
                `Female Students`,
            ],
            datasets: [{
                label: 'Gender chart',
                data: [maleCount,femaleCount],
                backgroundColor: [
                    'rgb(68, 155, 255)',
                    'rgb(255, 162, 230)'
                ],
                hoverOffset: 4
            }]
        };
        const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: data
        });
    </script>
</body>
</html>